# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL="https://your-project.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-anon-key"

# Web Push VAPID Keys (Générées pour BCSN Pronos)
NEXT_PUBLIC_VAPID_PUBLIC_KEY="BArK24K6aefMCRdOtKTecR0eLiFrVhimEWlvoTTLbm3MdnoDFNgnHpbemum_ujBAyr3z1SCn0ExMcHVDLbT-9NQ"
VAPID_PRIVATE_KEY="your-vapid-private-key"
VAPID_SUBJECT="mailto:contact@bcsn-pronos.fr"

